<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Reward-Points</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card class="mar-card">
      <ion-row>
        <ion-col class="mrg-top-10">
          <div align="center">
            <p>PayBank Blance</p>
            <h2>&#8377; 4201.00</h2>
            <p>Top for Details</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-row>
      <ion-col class="mrg-top-10">
        <div align="center">
          <h3>Redeem</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <div align="center">
          <h3>Pending</h3>
        </div>
      </ion-col>
      <ion-col width-50>
        <div align="center">
          <h3>Approved</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>