.img-size{
    height: 40%;
    width: 100%;
    border-radius:10px;
}
.mrgn-top-30{
      margin-left: 120px;
       margin-top: -47px;
      align-items: center;
}
.new-background-color{

    --background: var(--ion-backgrund-color);
}
ion-header {
  
    position: unset;
   
}
// .mrgn-top-20{
//     margin-top: 10px;
// }