ion-card{
    padding:35px;
}
.img-size{
    width: 25%;
    height: 25%;
    margin: auto;
  
  }
  .mrg-top-20px{
    margin-top: 30px;
  }
  .bckgrnd-clr,.bckgrnd-clr2{
      background-color:rgb(236, 236, 236);
      padding:25px;
      border-radius:8px;
      box-shadow: 2px 1px rgb(219, 219, 219);
  }
  .bckgrnd-clr1{
    background-color:rgb(236, 236, 236);
    padding:25px;
    margin-bottom: 4px;
    border-radius:8px;
    box-shadow: 2px 1px rgb(219, 219, 219);
}
h6{
    font-size:15px;
}