<ion-header>

  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>DashBoard</ion-title>
    <ion-label slot="end">{{firstName}}</ion-label>
    <!-- <ion-buttons slot="end" (click)="logout()" >
    <ion-icon name="log-out"></ion-icon>
    </ion-buttons>  -->
    <ion-buttons slot="end" style="font-size:25px" style="margin: 5px">
      <ion-icon name="log-out"  (click)="logout()"></ion-icon>
    </ion-buttons>

  </ion-toolbar>

</ion-header>
<ion-content padding>

  <div align="center" class="mrg-top-20px">
    
    <ion-img style="width:150px;height:150px;" src="\assets\SMALL.png"></ion-img>

  </div>


  <ion-grid style='margin-top: 20px;'>
    <ion-row>
      <ion-col align-self-start size="6">
        <div align="center" (click)="viewIssue()" class="bckgrnd-clr">
          <ion-img src="\assets\icon sets v_1-22.png" class="img-size"></ion-img>
          <h6>View Issue</h6>
        </div>

      </ion-col>

      <ion-col align-self-end size="6" class="bckgrnd-clr1">
        <div align="center" (click)="nofification()">
          <ion-img src="\assets\icon sets v_1-32.png" class="img-size"></ion-img>
          <h6>Notifications</h6>
        </div>
      </ion-col>
    </ion-row><br>
    <ion-row>
      <ion-col align-self-center class="bckgrnd-clr2" size="6" offset="3">
        <div align="center" (click)="reward()">
          <ion-img src="\assets\icon sets v_1-28.png" align="center" class="img-size"></ion-img>
          <h6>Reward Points</h6>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <div  *ngFor="let person of profiles">
   {{person.imageName}}
   <img [src]="'data:image/jpg;base64,'+person.image" style="height:150px;width:150px" />
 <img [src]="person.image">
 </div> -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-4 align="center">
          <div (click)=" logout()">
            <ion-img src="\assets\icon sets v_1-02.png" align="center" class="img-size"></ion-img>
            <h6>Home</h6>
          </div>


        </ion-col>
        <ion-col col-4 align="center" class="vl">

          <div (click)="PostScenario()">

            <ion-img src="\assets\icon sets v_1-17.png" align="center" class="img-size"></ion-img>
            <h6>Camera</h6>
          </div>

        </ion-col>
        <ion-col col-4 align="center" class="vl">
          <div>

            <ion-img src="\assets\icon sets v_1-07.png" align="center" class="img-size" (click)="offlinePost()">
            </ion-img>
            <h6>Post-Issue</h6>

          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>