<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="dashboard"></ion-back-button>
      </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-col align-self-end>
        <div align="center">
          <!-- <ion-img src="\assets\icon sets v_1-32.png" class="img-size"></ion-img> -->
          <p class="notif"><span class="num">0</span></p>
          <!-- <h6> 9 Notifications</h6> -->
        </div>
      </ion-col>
</ion-content>
