ion-content.background{
    --background: url(../../assets/frfic2.jpg)  0 0/100% 100% no-repeat;
    background-repeat: no-repeat;
    background-size:cover;
}
.myview {
   
    height: 80%;
    background-repeat: no-repeat ;
    background-size:cover;
    position: relative;
        
        background-image: url('../../assets/Gr.png');
        border-bottom-left-radius: 65% 5%;
        border-bottom-right-radius: 65% 5%;
    
}
.layer {
    // background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: -40px;
    left: 0;
    height: 80%;
    width: 100%;
}
.mrg-top-80{ 
    color: var(--ion-color-light);
 
    text-align: center;
    margin-top: 80px;
}
.mrg-top-81{
      color: var(--ion-color-light);
    text-align: center;
    margin-top: 180px;
}


ion-img{
    width: 30%;
    height: 30%;
   
    margin: auto;
    
}

h2 {
    margin-top: -34px;
    font-size: 20px;
    letter-spacing: 1.5px;
}  
.btn-padding{
    height: 48px;
} 
ion-row{
    border-bottom: 1px solid ;color:var(--ion-color-light-shade);
    height: 70px;
  }
  
    // --ion-color-light-tint: #f5f6f9;;

.vl {
    border-left: 1px solid; color:var(--ion-color-light-shade);
    height: 70px;
  }
